.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.address-modal-content {
  background-color: #fefefe;
  padding: 35px;
  border: 1px solid #888;
  width: 42%;
  border-radius: 3px;
  position: relative;
}

.add-address-header {
  text-align: center;
}

.button-element {
  text-align: center;
}

.button-element button {
  padding: 18px;
  background-color: #414141;
  color: white;
  border: none;
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 10px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #414141;
}

.styled-checkbox:hover + label:before {
  /* background: rgb(124, 124, 124); */
  background: #414141;
}

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #414141;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9.5px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.close-icon {
  position: absolute;
  z-index: 5;
  right: 7px;
  top: 14px;
  height: 30px;
}

.close-icon img {
  cursor: pointer;
  height: 100%;
}
